.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border:2px solid rgb(32, 32, 46);
    background-image: linear-gradient(15deg, #141516 0%, #4a4c4d 100%);
    border-radius: 25px;
    width:50vw;
    height:26rem;
    margin:1em;
    padding-bottom: 1em;
}

.form-control {
    margin-bottom: 2em;
    width: 80%;
}

.cont-page {
    margin-left:10%;
}

.cont-title {
    margin-top: 5rem;
}

.btn-info{
    cursor: pointer;
}