.nav-bar {
    display: flex;
    justify-content: start;
    background-image: url("https://raw.githubusercontent.com/rafogi/Portfolio/main/front-end/src/img/sunset.jpg?token=AQJ3F3JAL2Z2NL7GDP3JCQ27XSIWS")
}

.nav-info {
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

.nav-info a {
    text-decoration: none;
    color: white
}

.nav-info a :hover{
    text-decoration: underline;
}
