.container {
    display:flex;
    flex-direction: row;
    margin-top: 10vh;
    flex-wrap: wrap;
    width:80%;
    justify-content: space-evenly;
}

.spr {
    display:flex;
    justify-content: center;
}