.App {
  text-align: center;
}
.bod {
  color:rgb(197, 191, 191);
  position: relative;
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  width: 100vw;
  margin-left:0;
  margin-right:0;
}


ul {
  list-style-type: none;
  padding: 0;
}